/*
 * Copyright (c) 2021 Ninh.D.H
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
	keymap0: keymap {
		compatible = "zmk,keymap";

		default_layer {
    // ---------------------------------------------------------------------------------------------------------
    // | ESC | F1  | F2  | F3  | F4  | F5  | F6  | F7  | F8  | F9  | F0  | F11 | F12 | PrtSc | Pause |  Delete |
    // |  ~  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  | Backspace | Back | Home |
    // | TAB  |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |  \  |  Del  |  Page U  |
    // | CAPS  |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |   ENTER  | Enter |  Page D  |
    // | SHIFT   |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  |  /  | SHIFT | Null |   Up  |    End   |
    // | CTRL  |  WIN  |  ALT  | Fn | SPACE |   SPACE   | Menu | WIN | ALT |  CTRL  | Left  |  Down |  Right   |
    // ---------------------------------------------------------------------------------------------------------


		bindings = <
								&kp ESC   &kp Q     &kp W     &kp E
	        			&kp A     &kp S      &kp D      &kp F
								&none     &mo 1      &kp LCTRL  &kp LWIN 
							>;

		sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
		};

		fn_layer {
		bindings = <
							&bt BT_CLR   &bt BT_SEL 0     &bt BT_SEL 1    &bt BT_SEL 2
			        &trans    &trans     &trans     &trans 
			        &trans    &trans     &trans     &trans
							>;
		sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};
	};
};
